# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# distributions created by goreleaser
dist/

# generated test files
openapi2kong/oas3_testfiles/*.generated.json
merge/merge_testfiles/*_generated.json

# the binary
kced
go-apiops

# any manually created test files
kong.yaml
kong.yml

# environment and log files, which might come from something like kong quickstart scripts
*.env
*.log
